<div class="container-fluid contact">
    <h2 class="title c-title">Let's get in contact!</h2>
    <div class="info">
        <span><img src="assets/mail.png" alt="mail icon" class="contact-img"></span>
        <a href="mailto:paula.guevara@gmail.com" target="_blank">Send me an Email</a>
    </div>
    <div class="info">
        <span><img src="assets/linkedin.png" alt="linkedin icon"  class="contact-img"></span>
        <a href="https://www.linkedin.com/in/guevara-paula/" target="_blank" rel="noopener">Find me on LinkedIn</a>
    </div>
    <div class="info">
        <span><img src="assets/github (1).png" alt="github icon"  class="contact-img"></span>
        <a href="https://github.com/mp-guevara" target="_blank" rel="noopener">Find me on Github </a>
    </div>
</div>
