<div class="row about-section">
    <div class="container-fluid col-lg-9 col-sm-12 aboutme-text">
        <span><h2>ABOUT ME</h2></span>
        <p class="text-start">Hi there! I'm Paula Guevara, a lifelong learner with a passion for turning ideas into interactive and visually appealing web experiences. While my academic journey led me to the world of English to Spanish translation, my insatiable curiosity led me to the exciting realm of programming. </p>
        <p class="text-start">Since 2020 (thanks to the Covid-20 pandemic scenario) I've embarked on a transformative journey that includes courses in web development, React JS, Angular and even delving into the world of Quality Assurance with a Manual Tester course. I've also honed my skills further through intensive programs, such as Mindhub's Frontend and QA bootcamps, as well as the empowering In Tech Mom Latam's program. These experiences have collectively shaped my skills and perspective, propelling my growth in the dynamic field of technology.</p>
        <p class="text-start">What captivates me the most about frontend development is the boundless universe of creative possibilities it offers. I enjoy the challenge of creating a whole new world with every line of code and bringing ideas to life.</p>
        <p class="text-start">Even though my focus is currently on frontend development, where I can leverage my skills to create engaging user experiences, I'm fueled by an ambition to broaden my expertise, and I aspire to evolve into a full-stack developer in the near future.</p>
    </div>
    <div class="container-fluid col-2 ">
        <img src="../../../assets/profile_pic.png" alt="profile picture" class="img-thumbnail profile-pic">
    </div>
</div>
<app-skills></app-skills>
<app-education></app-education>
