<div class="row projects ">
    <h1 class="p-title text-center">PROJECTS</h1>
    <div class="container-fluid contenedor p-section">
        <!--Blog de Traduccion-->    
        <div class="card project-card m-5">
            <a href="https://mp-guevara.github.io/TradInspire_Blog/" target="_blank" rel="noopener">
              <img src="assets/BlogTraduccion.png" class="card-img-top project-img img-fluid" alt="Site's view">
                
            </a>
            <div class="card-body">
              <h5 class="card-title text-light">Blog de Traducción: Tradinspire</h5>
              <p class="card-text text-light">Personal blog website with HTML and Sass for the Coder House's Web Development course.</p>
            </div>
            <ul class="list-group list-group-flush card-footer">
              <li class="list-group-item"><a href="https://mp-guevara.github.io/TradInspire_Blog/" class="card-link link">View site</a></li>
              <li class="list-group-item"><a href="https://github.com/mp-guevara/TradInspire_Blog" class="card-link link">Repository</a></li>
            </ul>
          </div>    

        <!--Juego de Cartas Mayor Gana-->
        <div class="card project-card m-5">
          <a href="https://mp-guevara.github.io/ProyectoFinalJS_Guevara/" target="_blank" rel="noopener">
            <img src="assets/JuegoDeCartas.png" class="card-img-top project-img img-fluid" alt="Site's view">
          </a>
            <div class="card-body">
              <h5 class="card-title text-light">Card Game</h5>
              <p class="card-text text-light">A card game built with JavaScript served as the final project for Coder House's JavaScript course.</p>
            </div>
            <ul class="list-group list-group-flush card-footer">
              <li class="list-group-item"><a href="https://mp-guevara.github.io/ProyectoFinalJS_Guevara/" class="card-link link">View site</a></li>
              <li class="list-group-item"><a href="https://github.com/mp-guevara/ProyectoFinalJS_Guevara" class="card-link link">Repository</a></li>
            </ul>
          </div>    

        <!--E-Commerce MakeUp Bay-->
        <div class="card project-card m-5">
          <a href="https://github.com/mp-guevara/ProyectoFinal_React_Guevara" target="_blank" rel="noopener">
            <img src="assets/E-Commerse.png" class="card-img-top project-img img-fluid" alt="Site's view">
          </a>
            <div class="card-body">
              <h5 class="card-title text-light">MakeUp Bay E-commerce</h5>
              <p class="card-text text-light">E-commerce website built with Vite, React and Firebase for Coder House's React Course.</p>
            </div>
            <ul class="list-group list-group-flush card-footer">
              <li class="list-group-item"><a href="https://github.com/mp-guevara/ProyectoFinal_React_Guevara" class="card-link link">View site</a></li>
              <li class="list-group-item"><a href="https://mp-guevara.github.io/ProyectoFinal_React_Guevara/" class="card-link link">Repository</a></li>
            </ul>
          </div> 

          <!-- Bus Admin App-->
          <div class="card project-card m-5">
            <a href="https://mp-guevara.github.io/TrabajoFinal_Angular_Guevara/#/person/list" target="_blank" rel="noopener">
              <img src="assets/MyBussAdministrationApp.png" class="card-img-top project-img img-fluid" alt="Site's view">
            </a>
            <div class="card-body">
              <h5 class="card-title text-light">Bus Company Administration App</h5>
              <p class="card-text text-light">Web system built with Angular and Angular Material to manage and mantain a record of all the trips made by a bus company, which allows the management of information about passengers, busses and trips. It was the final project for the Angular course at Universidad Nacional de Río Negro.</p>
            </div>
            <ul class="list-group list-group-flush card-footer">
              <li class="list-group-item"><a href="https://mp-guevara.github.io/TrabajoFinal_Angular_Guevara/#/person/list" class="card-link link">View site</a></li>
              <li class="list-group-item"><a href="https://github.com/mp-guevara/TrabajoFinal_Angular_Guevara/tree/rama1" class="card-link link">Repository</a></li>
            </ul>
          </div> 

          <!-- Amazing Events-->
          <div class="card project-card m-5">
            <a href="https://mp-guevara.github.io/AmazingEvents_Paula_Guevara/index.html" target="_blank" rel="noopener">
              <img src="assets/AmazingEvents.png" class="card-img-top project-img img-fluid" alt="Site's view">
            </a>
            <div class="card-body">
              <h5 class="card-title text-light">Amazing Events</h5>
              <p class="card-text text-light">A frontend project built with Javascript and Bootstrap for Mindhub Frontend Bootcamp.</p>
            </div>
            <ul class="list-group list-group-flush card-footer">
              <li class="list-group-item"><a href="https://mp-guevara.github.io/AmazingEvents_Paula_Guevara/index.html" class="card-link link">View site</a></li>
              <li class="list-group-item"><a href="https://github.com/mp-guevara/AmazingEvents_Paula_Guevara" class="card-link link">Repository</a></li>
            </ul>
          </div> 

          <!-- Mighty Ducks Hockey League-->
          <div class="card project-card m-5">
            <a href="https://mp-guevara.github.io/MDHL_Guevara/index.html" target="_blank" rel="noopener">
              <img src="assets/MightyDucks.png" class="card-img-top project-img img-fluid" alt="Site's view">
            </a>
            <div class="card-body">
              <h5 class="card-title text-light">Mughty Ducks Hocker League Site</h5>
              <p class="card-text text-light">A simple frontend project built with HTML and CSS for Mindhub Frontend Bootcamp.</p>
            </div>
            <ul class="list-group list-group-flush card-footer">
              <li class="list-group-item"><a href="https://mp-guevara.github.io/MDHL_Guevara/index.html" class="card-link link">View site</a></li>
              <li class="list-group-item"><a href="https://github.com/mp-guevara/MDHL_Guevara" class="card-link link">Repository</a></li>
            </ul>
          </div> 

            <!-- EdVisto-->
            <div class="card project-card m-5">
              <a href="https://mp-guevara.github.io/edvisto-mod-busca-analiza-Front/" target="_blank" rel="noopener">
                <img src="assets/Edvisto 3.0.png" class="card-img-top project-img img-fluid" alt="Site's view">
              </a>
                <div class="card-body">
                  <h5 class="card-title text-light">EdVisto 3.0</h5>
                  <p class="card-text text-light"> Search module frontend project built with Javascript, CSS and HTML, implementing Google's Vertex AI for In Tech Mom Latam.</p>
                </div>
                <ul class="list-group list-group-flush card-footer">
                  <li class="list-group-item"><a href="https://mp-guevara.github.io/edvisto-mod-busca-analiza-Front/" class="card-link link">View site</a></li>
                  <li class="list-group-item"><a href="https://github.com/mp-guevara/edvisto-mod-busca-analiza-Front/tree/rama2" class="card-link link">Repository</a></li>
                </ul>
              </div>



    </div>
</div>