<div class="container-fluid  banner">
  <div class="container-fluid text-wrapper col-9 col-sm-11">
    <h1 [@textReveal] class="text t-reveal">
      <span [@textReveal] class="greeting">Hi! I'm Paula Guevara</span>
    </h1>
    <div class="container-fluid title-container">
      <h2 [@textReveal] class="text  t-reveal">
        <span class="welcome">FRONTEND DEVELOPER</span>
      </h2>
    </div>
  </div>
  <img src="assets/profile_pic.png" alt="profile picture" class="img-fluid profile-pic">
</div>
