.row{
    background: radial-gradient(circle, rgba(41, 2, 101, 1) 0%, rgba(37, 37, 37, 1) 100%);
    padding: 35px 0px 35px 20px;
}
h2{
    color:#9b6ef4;
    padding: 25px;
}

@media (max-width: 574px){
    .row{
        padding: 20px;
        margin: auto;
    }
    .skills-title{
        text-align: center;
    }
}
