<div class="row skills">
    <h2 class="skills-title">MY HARD & SOFT SKILLS</h2>
    <div class="text-center col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'assets/html-5.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"
            [showSubtitle]="true"
            [subtitle]="'HTML'"
            [subtitleColor]="'#000000'"
            [subtitleFontWeight]="'500'"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'assets/css-3.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"
            
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'assets/javascript.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'assets/angular-icon.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'assets/reactjs.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'assets/pngwing.com-2.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/github.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    
   
    <div class=" text-center col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'assets/postman-icon-svgrepo-com.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class=" text-center col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'assets/selenium-svgrepo-com.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class=" text-center col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'assets/apachejmeter-svgrepo-com.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class=" text-center col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'assets/Jira.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class=" text-center col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'assets/Kotlin.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/idioma-en-ingles.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/teamwork.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/problem-solving.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/agile.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/responsibility.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/organization.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3 col-sm-1 circle-skill">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'assets/active-listening.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'#ffffff'"
        class="circle"></circle-progress>
    </div>
</div>