<div class="row">
    <h2>Working Experience</h2>
    <div class="col-lg-11">
        <ul>
            <li><h3>Trabajo 1</h3> - <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt earum dolorum, quos hic ducimus veniam et laboriosam deleniti fugit minus aliquid impedit possimus deserunt tempore, ipsam voluptatibus nulla autem pariatur.</p>
            </li>
            <li><h3>Trabajo 2</h3> - <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt earum dolorum, quos hic ducimus veniam et laboriosam deleniti fugit minus aliquid impedit possimus deserunt tempore, ipsam voluptatibus nulla autem pariatur.</p>
            </li>
            <li><h3>Trabajo 3</h3> - <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt earum dolorum, quos hic ducimus veniam et laboriosam deleniti fugit minus aliquid impedit possimus deserunt tempore, ipsam voluptatibus nulla autem pariatur.</p>
            </li>
            
        </ul>
    </div>
</div>