div{
    background-color: #252525;
    padding: 35px 0px 35px 20px;
}
h2,h3,h4,p{
    color: #ffffff;
}
h2{
    padding-top: 90px;
}
h3,h4{
    display: inline;
}

@media (min-width: 576px){
   h2{
    margin-top: 15px;
}
   } 

